name: Preprocessing Pipeline

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas numpy

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_Zahra-Afifah-F.py

      - name: Commit processed dataset
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add preprocessing/telco_customer_churn_preprocessing/
          git commit -m "Update preprocessed dataset" || echo "No changes"
          git push
